.about-text h1 {
    font-weight: 700;
    letter-spacing: 3px;
}

.about-btn button {
    padding: 8px 25px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #754cef;
    cursor: pointer;
}

.about-btn .download-btn {
    background: linear-gradient(90deg, #4c4cef, #a34cef);
    color: white;
}

.about-btn .download-btn:hover {
    color: #000;
    background: none;
}

 @media(max-width:575px) {

    .about-img img {
        width: 70%;

    }

    .about-text {
        margin: 0px;
        margin-top: 10px;
    }

    .about-text h1 {
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 3px;
        padding: 0 !important;
        padding-left: 10px !important;

    }

    .about-text p {
        font-size: 14px;
    }

    .about-btn,
    .text-muted {
        padding: 0 !important;
        padding-left: 10px !important;

    }

    .about-btn button {
        padding: 10px 20px;
        margin-bottom: 0px;
    }


}

@media(max-width:412px) {

    .about-img img {
        width: 70%;

    }

    .about-text {
        margin: 0px;
        margin-top: 10px;
    }

    .about-text h1 {
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 3px;
        padding: 0 !important;
        padding-left: 10px !important;

    }

    .about-text p {
        font-size: 14px;
    }

    .about-btn,
    .text-muted {
        padding: 0 !important;
        padding-left: 10px !important;

    }

    .about-btn button {
        padding: 10px 20px;
        margin-bottom: 0px;
    }


}
@media(max-width:375px) {

    .about-img img {
        width: 70%;

    }

    .about-text {
        margin: 0px;
        margin-top: 10px;
    }

    .about-text h1 {
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 3px;
        padding: 0 !important;
        padding-left: 10px !important;

    }

    .about-text p {
        font-size: 14px;
    }

    .about-btn,
    .text-muted {
        padding: 0 !important;
        padding-left: 10px !important;

    }

    .about-btn button {
        padding: 10px 20px;
        margin-bottom: 0px;
    }


}