 .contact-inner {
     width: 70%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     filter: drop-shadow(0px 0px 3px royalblue);
 }


 .contact-head {
     padding: 10px;
     width: 80%;
     background: linear-gradient(90deg, #4c4cef, #a34cef);
     filter: drop-shadow(5px 5px 2px #a34cef);
     border-radius: 8px;
     margin-bottom: 2rem;
     color: white;
 }

 .contact-head h1 {
     margin: auto;

 }

 .form-floating {
     color: #424242;
     font-weight: 500;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 .form-submit button {
     width: 100%;
     border: none;
     height: 40px;
     border-radius: 5px;
     font-weight: 600;
     letter-spacing: 1px;
     border: 0px solid #754cef;
     cursor: pointer;
     background: linear-gradient(90deg, #4c4cef, #a34cef);
     color: white;
     font-size: 1rem;
 }

 .form-submit button:hover {
     background: linear-gradient(90deg, #4c4cef, #a34cef);
     opacity: 0.8;
     border: 2px solid #4c4cef;
 }
 
 @media(max-width: 1280px) {

     .contact-inner { 
         margin-top: -10px !important;
     }

     .contact-head {
         text-align: center !important;
         margin: auto;
         margin-bottom: 30px;
     }

     .contact-head h1 {
         font-size: 1.5rem;
         text-align: center;
     }

 }  


 @media(max-width: 1024px) {

     .contact-inner { 
         margin-top: 60px !important;
     }

     .contact-head {
         text-align: center !important;
         margin: auto;
         margin-bottom: 30px;
     }

     .contact-head h1 {
         font-size: 1.5rem;
         text-align: center;
     }

 }
@media(max-width: 768px) {

     .contact-inner {
         width: 100%;
         margin-top: 60px !important;
     }

     .contact-head {
         text-align: center !important;
         margin: auto;
         margin-bottom: 30px;
     }

     .contact-head h1 {
         font-size: 1.5rem;
         text-align: center;
     }

 }
@media(max-width: 412px) {

     .contact-inner {
         width: 100%;
         margin-top: 60px !important;
     }

     .contact-head {
         text-align: center !important;
         margin: auto;
         margin-bottom: 30px;
     }

     .contact-head h1 {
         font-size: 1.5rem;
         text-align: center;
     }

 }
@media(max-width: 375px) {

     .contact-inner {
         width: 100%;
         margin-top: 60px !important;
     }

     .contact-head {
         text-align: center !important;
         margin: auto;
         margin-bottom: 30px;
     }

     .contact-head h1 {
         font-size: 1.5rem;
         text-align: center;
     }

 }