.footer-bar {
    background-color: #fff;
}

.footer-logo {
    font-size: 2rem;
    color: transparent;
    background: linear-gradient(90deg, #4c4cef, #b04feb);
    background-clip: text;
    cursor: pointer;
}

.footer-logo:hover {
    color: transparent;
    background: linear-gradient(90deg, #4c4cef, #b04feb);
    background-clip: text;
    opacity: 0.8;
}

.footer-text{
    color: #424242;
}

.footer-logo {
    color: transparent;
    background: linear-gradient(90deg, #4c4cef, #b04feb);
    background-clip: text;
    cursor: pointer;
}

 
 
.icon-footer {
    font-size: 2rem;
    border-radius: 50px;
}

