.home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-text {
    margin-top: 200px;
    margin-left: 90px;
}

.home-text h2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}

.home-text h1 {
    font-size: 65px;
    letter-spacing: 3px;
}

.home-text h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

.home-btns {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.home-btns button {
    border: none;
    border-radius: 5px;
    padding: 14px 40px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 3px solid #754cef;
    cursor: pointer;
}

.home-btns .btn-1 {
    background: linear-gradient(90deg, #4c4cef, #a34cef);
    color: white;
}

.home-btns .btn-1:hover {
    color: #000;
    background: none;
}

.home-btns .btn-2 {
    color: #000;
}

.home-btns .btn-2:hover {
    background: linear-gradient(90deg, #4c4cef, #a34cef);
    color: white;
}

.home-img {
    margin-top: 137px;
}


@media(max-width:1280px) {
    .home {
        justify-content: unset;
        margin-top: 50px;
    }

    .home-img img {
        margin-left: 580px;
        margin-top: -390px;
        height: 500px;
        width: 500px;
    }

    .home-img {
        margin-left: 90px;
    }

    .home-text {
        margin-top: 80px;
        margin-left: 70px;
    }

    .home-text h2 {
        font-size: 50px;
    }

    .home-text h1 {
        font-size: 60px;
        letter-spacing: 3px;
    }

    .home-text h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    .home-btns {
        margin-top: 10px;
    }

    .home-btns button {
        font-size: 18px;
    }
}

@media(max-width:1024px) {
    .home {
        justify-content: unset;
        margin-top: 100px;
    }

    .home-img img {
        margin-left: 490px;
        margin-top: -350px;
        height: 400px;
        width: 400px;

    }

    .home-img {
        margin-left: 90px;
    }

    .home-text {
        margin-top: 40px;
        margin-left: 70px;
        line-height: .9;
    }

    .home-text h2 {
        font-size: 30px;
    }

    .home-text h1 {
        font-size: 50px;
        letter-spacing: 3px;
    }

    .home-text h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    .home-btns {
        margin-top: 10px;
    }

    .home-btns button {
        padding: 8px 14px;
    }
}

@media(max-width:768px) {
    .home {
        justify-content: unset;
        margin-top: 100px; 
    }

    .home-img img {
        margin-left: 350px;
        margin-top: -300px;
        height: 300px;
        width: 300px;
    }

    .home-text {
        margin-top: 10px;
        line-height: 10px;
        margin-left: 60px;
    }

    .home-text h2 {
        font-size: 30px;
        line-height: 2.7;
    }

    .home-text h1 {
        font-size: 35px;
        letter-spacing: 3px;
    }

    .home-text h3 {
        font-size: 15px;
        margin-top: 10px;
    }

    .home-btns {
        margin-top: 0px;
    }

    .home-btns button {
        padding: 5px 10px;
        font-size: 14px;
    }
}

@media(max-width:412px) {
    .home {
        display: block;
        margin-left: 20px;
        margin-top: 20px;

    }

    .home-img img {
        margin-left: 110px;
        margin-top: 40px;
        height: 180px;
        width: 180px;
    }

    .home-img {
        position: absolute;
        top: 0;

    }

    .home-text {
        margin-top: 10px;
        line-height: 10px;
        margin-left: 10px;
    }

    .home-text h2 {
        font-size: 20px;
        line-height: 2.7;
    }

    .home-text h1 {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .home-text h3 {
        font-size: 12px;
    }

    .home-btns {
        margin-top: 0px;
        gap: 10px;
    }

    .home-btns button {
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media(max-width:375px) {
    .home {
        display: block;
        margin-top: 20px;
        
    }

    .home-img img {
        margin-left: 90px;
        margin-top: 40px;
        height: 150px;
        width: 150px;
        
    }

    .home-img {
        position: absolute;
        top: 0;

    }

    .home-text {
        margin-top: 10px;
        line-height: 10px;
        margin-left: 10px;
    }

    .home-text h2 {
        font-size: 20px;
        line-height: 2.7;
    }

    .home-text h1 {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .home-text h3 {
        font-size: 12px;
    }

    .home-btns {
        margin-top: 0px;
        gap: 10px;
    }

    .home-btns button {
        padding: 5px 10px;
        font-size: 10px;
    }
}

 